body{
    background-color: lightgray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px
}

div{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

nav{
    justify-content: space-between; /* center start end  следует флексу */
    align-items: center; /* start end  поперек флекса */
    display: flex;
    width: 100%;
}

.badge{
    width: 90px;
    height: 35px;
    position: absolute;
    background-color: blueviolet;
    top: -5px;
    right: -10px;
    transform: rotate(15deg);
    border-radius: 50px;

    color: white;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 17px;
}

.blue{
    background-color: rgb(103, 103, 242);
    color: white;
}

.black{
    background-color: black;
    color: white;

    font-size: 15px;
}

.lightergrey{
    background-color: rgb(197, 197, 197);
}

.button{
    width: 150px;
    height: 40px;
    border-radius: 15px;
}

.longbutton{
    width: 250px;
    height: 50px;
    border-radius: 15px;
}

.minibutton{
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

.placard{
    flex-direction: column;
    background-color: white;
    width: 90%;
    height: 300px;
    border-radius: 15px;

    color: black;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.row{
    flex-direction: row;
}

.company{
    gap: 10px;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}
.location{
    gap: 10px;
    flex-direction: row;
    justify-content: start;
    color: grey;
    font-size: 10px;
}

.compact{
    gap:10px
}
.list{
    align-items: start;
}

.minigrid{
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    justify-content: start;
    align-items: start;
}
.grid{
    flex-direction: row;
    width: 700px;
    flex-wrap: wrap;
    gap:20px;
    justify-content: start;
    align-items: start;
}

.card {
    background-color: whitesmoke;
    width: 170px;
    height: 170px;
    border-radius: 15px;

    padding: 15px;
    align-items: start;
    justify-content: space-between;

    gap: 0px
}

.sideblock{
    background-color: whitesmoke;
    width: 300px;
    height: 400px;
    border-radius: 15px;
}