div{
    position: relative;
}

nav{
    justify-content: space-between; /* center start end  следует флексу */
    align-items: center; /* start end  поперек флекса */
    display: flex;
    width: 100%;
}

.badge{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: aqua;
    top: 50%;
    right: 50%;
    transform: rotate(15deg)
}